.pokemon_card{
        display: block;
        border: 1px solid #d25f5d;
        border-radius: .25rem;
        background-color: #fad2d2;
        min-height: 150px;
}
.pokemon_images{
    height: 100px;
}
.pokebody{
    min-height: 120px;
    width: 200px;
}
